<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crm.core.group.dao.mapper.AllocationRuleMapper">

    <sql id="WHERE_SQL">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <resultMap id="rule" type="com.crm.core.group.entity.AllocationRule">
        <id     column="id"          property="id"         javaType="java.lang.String"/>
        <result column="name"        property="name"       javaType="java.lang.String"/>
        <result column="state"       property="state"      typeHandler="UsingStateHandler"/>
        <result column="type"        property="type"       typeHandler="AllocationTypeHandler"/>
        <result column="online_only" property="onlineOnly" javaType="java.lang.Boolean"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTie"  javaType="java.util.Date"/>
        <collection property="regions"       javaType="java.lang.String"/>
        <collection property="wechat_groups" javaType="java.lang.String"/>
    </resultMap>

    <insert id="save">
        INSERT
          INTO allocation_rule (
               id,
               name,
               state,
               type,
               online_only,
               create_time
          ) VALUE (
               #{id,         jdbcType=VARCHAR},
               #{name,       jdbcType=VARCHAR},
               #{state,      typeHandler=UsingStateHandler},
               #{type,       typeHandler=AllocationTypeHandler},
               #{onlineOnly, jdbcType=BOOLEAN},
               #{createTime, jdbcType=TIMESTAMP}
          )
    </insert>

    <insert id="saveRelations">
        INSERT
          INTO allocation_groups_wechat (
               rule_id,
               groups_wechat_id,
               region_id
          ) VALUES
        <foreach collection="wechatGroups" item="group">
           <foreach collection="regions" item="region" separator=",">
            (
               #{id,     jdbcType=VARCHAR},
               #{group,  jdbcType=VARCHAR},
               #{region, jdbcType=VARCHAR}
            )
           </foreach>
        </foreach>
    </insert>

    <update id="update">
        UPDATE allocation_rule
         <set>
             <if test="name != null">
                 name = #{name, jdbcType=VARCHAR},
             </if>
             <if test="state != null">
                 state = #{state, typeHandler=UsingStateHandler},
             </if>
             <if test="type != null">
                 type = #{type, typeHandler=AllocationTypeHandler},
             </if>
             <if test="onlineOnly != null">
                 online_only = #{onlineOnly, jdbcType=BOOLEAN},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcType=TIMESTAMP},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE a,
               ag
          FROM allocation_rule a
     LEFT JOIN allocation_groups_wechat ag
            ON ag.rule_id = a.id
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </delete>

    <delete id="deleteRelations">
        DELETE
          FROM allocation_groups_wechat
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </delete>

    <select id="get" resultMap="rule">
        SELECT a.*,
               ag.groups_wechat_id AS wechat_groups,
               ag.region_id        AS regions
          FROM allocation_rule a
     LEFT JOIN allocation_groups_wechat ag
            ON ag.rule_id = a.id
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </select>

    <select id="find" resultMap="rule">
        SELECT a.*,
               ag.groups_wechat_id AS wechat_groups,
               ag.region_id        AS regions
          FROM allocation_rule a
     LEFT JOIN allocation_groups_wechat ag
            ON ag.rule_id = a.id
        <if test="params != null">
            <include refid="WHERE_SQL"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(a.*)
          FROM allocation_rule a
     LEFT JOIN allocation_groups_wechat ag
            ON ag.rule_id = a.id
        <if test="params != null">
            <include refid="WHERE_SQL"/>

            <if test="params.groups != null and params.groups.size > 0">
                GROUP BY
                <foreach collection="params.groups" item="group" separator=",">
                    #{group.property}
                </foreach>
            </if>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>
</mapper>