<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                               "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <setting name="lazyLoadingEnabled"    value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="org.apache.ibatis.type.EnumTypeHandler"                       alias="EnumTypeHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.AccountStateHandler"   alias="AccountStateHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.SexHandler"            alias="SexHandler"/>
        <typeAlias type="org.wah.doraemon.utils.mybatis.handler.UsingStateHandler"     alias="UsingStateHandler"/>
        <typeAlias type="com.crm.core.wechat.utils.handler.WechatMessageTypeHandler"   alias="WechatMessageTypeHandler"/>
        <typeAlias type="com.crm.core.wechat.utils.handler.WechatMessageStatusHandler" alias="WechatMessageStatusHandler"/>
        <typeAlias type="com.crm.core.device.utils.handler.DeviceTypeHandler"          alias="DeviceTypeHandler"/>
        <typeAlias type="com.crm.core.permission.utils.handler.ResourceTypeHandler"    alias="ResourceTypeHandler"/>
    </typeAliases>
</configuration>