<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crm.core.sensitive.dao.mapper.SensitiveWordMapper">

    <sql id="WHERE_SQL">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <resultMap id="sensitiveWord" type="com.crm.core.sensitive.entity.SensitiveWord">
        <id     column="id"          property="id"         javaType="java.lang.String"/>
        <result column="content"     property="content"    javaType="java.lang.String"/>
        <result column="state"       property="state"      typeHandler="UsingStateHandler"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
    </resultMap>

    <insert id="save">
      INSERT
        INTO sensitive_word (
             id,
             content,
             state,
             create_time
        ) VALUE (
             #{id,         jdbcType=VARCHAR},
             #{content,    jdbcType=VARCHAR},
             #{state,      typeHandler=UsingStateHandler},
             #{createTime, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
      UPDATE sensitive_word
       <set>
          <if test="content != null">
            content = #{content, jdbcType=VARCHAR},
          </if>
          <if test="state != null">
            state = #{state, typeHandler=UsingStateHandler},
          </if>
          <if test="updateTime != null">
            update_time = #{updateTime, jdbcType=TIMESTAMP},
          </if>
       </set>
        WHERE id = #{id}
    </update>

    <delete id="dissolveByGroupId">
      DELETE
        FROM sensitive_group
       WHERE group_id = #{groupId}
    </delete>

    <delete id="dissolveByWechatId">
      DELETE
        FROM sensitive_wechat
       WHERE wechat_id = #{wechatId}
    </delete>

    <insert id="establishByGroupId">
      INSERT
        INTO sensitive_group (
             sensitive_id,
             group_id
        ) VALUES
      <foreach collection="sensitiveIds" item="sensitiveId" separator=",">
        (
             #{sensitiveId, jdbcType=VARCHAR},
             #{groupId,     jdbcType=VARCHAR}
        )
      </foreach>
    </insert>

    <insert id="establishByWechatId">
      INSERT
        INTO sensitive_wechat (
             sensitive_id,
             wechat_id
        ) VALUES
      <foreach collection="sensitiveIds" item="sensitiveId" separator=",">
        (
              #{sensitiveId, jdbcType=VARCHAR},
              #{wechatId,    jdbcType=VARCHAR}s
        )
      </foreach>
    </insert>

    <select id="get" resultMap="sensitiveWord">
      SELECT *
        FROM sensitive_word
      <if test="params != null">
        <include refid="WHERE_SQL"/>
      </if>
    </select>

    <select id="count" resultType="java.lang.Long">
      SELECT COUNT(*)
        FROM sensitive_word
      <if test="params != null">
        <include refid="WHERE_SQL"/>
      </if>
    </select>

    <select id="find" resultMap="sensitiveWord">
      SELECT s.*
        FROM sensitive_word s
   LEFT JOIN sensitive_group sg
          ON sg.sensitive_id = s.id
   LEFT JOIN sensitive_wechat sw
          ON sw.sensitive_id = s.id
   LEFT JOIN wechat_group wg
          ON wg.group_id = sg.group_id
         AND wg.wechat_id = sw.wechat_id
   LEFT JOIN wechat w
          ON w.id = wg.wechat_id
      <if test="params != null">
        <include refid="WHERE_SQL"/>
      </if>
    </select>
</mapper>