<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crm.core.account.dao.mapper.UserMapper">

    <sql id="WHERE_SQL">
        <where>
            <if test="params.andCriterions != null and params.andCriterions.size > 0">
                <foreach collection="params.andCriterions" item="criterion">
                    <trim prefix="AND (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>

            <if test="params.orCriterions != null and params.orCriterions.size > 0">
                <foreach collection="params.orCriterions" item="criterion">
                    <trim prefix="OR (" suffix=")">
                        <choose>
                            <when test="criterion.noValue">
                                ${criterion.property} ${criterion.operator}
                            </when>
                            <when test="criterion.singleValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                ${criterion.property} ${criterion.operator} #{criterion.value} AND #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                ${criterion.property} ${criterion.operator}
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <when test="criterion.andCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="AND">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                            <when test="criterion.orCriterionValue">
                                <foreach collection="criterion.value" item="item" open="(" close=")" separator="OR">
                                    <trim prefix="(" suffix=")">
                                        <choose>
                                            <when test="item.noValue">
                                                ${item.property} ${item.operator}
                                            </when>
                                            <when test="item.singleValue">
                                                ${item.property} ${item.operator} #{item.value}
                                            </when>
                                            <when test="item.betweenValue">
                                                ${item.property} ${item.operator} #{item.value} AND #{item.secondValue}
                                            </when>
                                            <when test="item.listValue">
                                                ${item.property} ${item.operator}
                                                <foreach collection="item.value" item="itemValue" open="(" close=")" separator=",">
                                                    #{itemValue}
                                                </foreach>
                                            </when>
                                        </choose>
                                    </trim>
                                </foreach>
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </where>
    </sql>

    <resultMap id="user" type="org.wah.doraemon.entity.User">
        <id     column="id"           property="id"         javaType="java.lang.String"/>
        <result column="account_id"   property="accountId"  javaType="java.lang.String"/>
        <result column="head_img_url" property="headImgUrl" javaType="java.lang.String"/>
        <result column="nickname"     property="nickname"   javaType="java.lang.String"/>
        <result column="name"         property="name"       javaType="java.lang.String"/>
        <result column="age"          property="age"        javaType="java.lang.Integer"/>
        <result column="birthday"     property="birthday"   javaType="java.util.Date"/>
        <result column="sex"          property="sex"        typeHandler="SexHandler"/>
        <result column="autograph"    property="autograph"  javaType="java.lang.String"/>
        <result column="create_time"  property="createTime" javaType="java.util.Date"/>
        <result column="update_time"  property="updateTime" javaType="java.util.Date"/>
        <association property="account" resultMap="account" columnPrefix="a_"/>
    </resultMap>

    <resultMap id="account" type="org.wah.doraemon.entity.Account">
        <result column="username"    property="username"   javaType="java.lang.String"/>
        <result column="phone"       property="phone"      javaType="java.lang.String"/>
        <result column="email"       property="email"      javaType="java.lang.String"/>
        <result column="state"       property="state"      typeHandler="AccountStateHandler"/>
    </resultMap>

    <insert id="save">
        INSERT
          INTO user (
               id,
               account_id,
               head_img_url,
               nickname,
               name,
               age,
               birthday,
               sex,
               autograph,
               create_time
          ) VALUE (
               #{id,         jdbcType=VARCHAR},
               #{accountId,  jdbcType=VARCHAR},
               #{headImgUrl, jdbcType=VARCHAR},
               #{nickname,   jdbcType=VARCHAR},
               #{name,       jdbcType=VARCHAR},
               #{age,        jdbcType=INTEGER},
               #{birthday,   jdbcType=TIMESTAMP},
               #{sex,        typeHandler=SexHandler},
               #{autograph,  jdbcType=VARCHAR},
               #{createTime, jdbcType=TIMESTAMP}
          )
    </insert>

    <update id="update">
        UPDATE user
         <set>
             <if test="headImgUrl != null and headImgUrl != ''">
                 head_img_url = #{headImgUrl, jdbcType=VARCHAR},
             </if>
             <if test="nickname != null and nickname != ''">
                 nickname = #{nickname, jdbcType=VARCHAR},
             </if>
             <if test="name != null and name != ''">
                 name = #{name, jdbcType=VARCHAR},
             </if>
             <if test="age != null">
                 age = #{age, jdbcType=INTEGER},
             </if>
             <if test="birthday != null">
                 birthday = #{birthday, jdbcType=TIMESTAMP},
             </if>
             <if test="sex != null">
                 sex = #{sex, typeHandler=SexHandler},
             </if>
             <if test="autograph != null">
                 autograph = #{autograph, jdbcType=VARCHAR},
             </if>
             <if test="updateTime != null">
                 update_time = #{updateTime, jdbcTyp=TIMESTAMP},
             </if>
         </set>
          WHERE id = #{id}
    </update>

    <select id="get" resultMap="user">
        SELECT *
          FROM user
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </select>

    <select id="find" resultMap="user">
        SELECT *
          FROM user
        <if test="params != null">
            <include refid="WHERE_SQL"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM user
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </select>

    <select id="getWithAccount" resultMap="user">
        SELECT u.*,
               a.username AS a_username,
               a.phone    AS a_phone,
               a.email    AS a_email,
               a.state    AS a_state,
          FROM user u
     LEFT JOIN account a
            ON a.id = u.account_id
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </select>

    <select id="findWithAccount" resultMap="user">
        SELECT u.*,
               a.username AS a_username,
               a.phone    AS a_phone,
               a.email    AS a_email,
               a.state    AS a_state,
          FROM user u
     LEFT JOIN account a
            ON a.id = u.account_id
        <if test="params != null">
            <include refid="WHERE_SQL"/>

            <if test="params.sorts != null and params.sorts.size > 0">
                ORDER BY
                <foreach collection="params.sorts" item="sort" separator=",">
                    ${sort.property} ${sort.operator}
                </foreach>
            </if>

            <if test="params.limit != null">
                ${params.limit.operator} ${params.limit.value}, ${params.limit.secondValue}
            </if>
        </if>
    </select>

    <select id="countWithAccount" resultType="java.lang.Long">
        SELECT COUNT(*)
          FROM user u
     LEFT JOIN account a
            ON a.id = u.account_id
        <if test="params != null">
            <include refid="WHERE_SQL"/>
        </if>
    </select>
</mapper>